.messege{
    width: fit-content;
    /* height: 77px; */
    margin: 10px;
    padding: 10px;
}
.messege__user{
    margin-left: auto;
    color: white;
    text-align: left !important;

}
.messege__userCard{
    background-color: blue !important;

}
.messege__guestCard{
    background-color: grey !important;
}